{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "qvosHVqdz0\u002By5A\u002BtZYpaZQ.0",
        "X-Processing-Time": "92ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities/8%3Aacs%3A357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "GeeB4/EKVk2iiJDCrja2dQ.0",
        "X-Processing-Time": "152ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-05-15T00:47:54.1701204\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bf87-eef0-8b3a0d003192"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-c121-eef0-8b3a0d003193"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1@thread.v2",
        "MS-CV": "bbEZ29om40qY59hR/9WUlg.0",
        "X-Processing-Time": "635ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:o551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2021-05-14T00:47:56Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191",
            "communicationUser": {
              "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1%40thread.v2/participants?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "vkpNc6MRYEeydwy\u002Bepvjxw.0",
        "X-Processing-Time": "274ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bf87-eef0-8b3a0d003192",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bf87-eef0-8b3a0d003192"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-c121-eef0-8b3a0d003193",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-c121-eef0-8b3a0d003193"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1%40thread.v2?api-version=2021-04-05-preview6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "GDJ\u002BI5\u002Bpv0qbB\u002BcGpqSecA.0",
        "X-Processing-Time": "310ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1%40thread.v2/messages?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1@thread.v2/messages/1620953279386",
        "MS-CV": "HEPZjpS9F0ezc6Cuhi8uFQ.0",
        "X-Processing-Time": "224ms"
      },
      "ResponseBody": {
        "id": "1620953279386"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AtKAyLRWW-u9IDQgjJr9A9SDEUYJHQFtnSeI-c8zDqKg1%40thread.v2/messages?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "html"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AtKAyLRWW-u9IDQgjJr9A9SDEUYJHQFtnSeI-c8zDqKg1@thread.v2/messages/1620953279629",
        "MS-CV": "EKxYsM4osEqqya\u002BNyiYnUg.0",
        "X-Processing-Time": "204ms"
      },
      "ResponseBody": {
        "id": "1620953279629"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1%40thread.v2/messages/1620953279386?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kjY31aTKKUOkPRNEL2smcQ.0",
        "X-Processing-Time": "124ms"
      },
      "ResponseBody": {
        "id": "1620953279386",
        "type": "text",
        "sequenceId": "4",
        "version": "1620953279386",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-05-14T00:47:59Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191"
          }
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AtKAyLRWW-u9IDQgjJr9A9SDEUYJHQFtnSeI-c8zDqKg1%40thread.v2/messages/1620953279629?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PJcXop3PAkafZIleayEqGw.0",
        "X-Processing-Time": "155ms"
      },
      "ResponseBody": {
        "id": "1620953279629",
        "type": "html",
        "sequenceId": "3",
        "version": "1620953279629",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-05-14T00:47:59Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1%40thread.v2/messages/1620953280864?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "m71MIhaj40G7MerQCsyqfA.0",
        "X-Processing-Time": "114ms"
      },
      "ResponseBody": {
        "id": "1620953280864",
        "type": "html",
        "sequenceId": "9",
        "version": "1620953280864",
        "content": {
          "message": "Content for message 7"
        },
        "senderDisplayName": "DisplayName sender message options message 7",
        "createdOn": "2021-05-14T00:48:00Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-c121-eef0-8b3a0d003193",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-c121-eef0-8b3a0d003193"
          }
        },
        "metadata": {
          "tags": "tag value",
          "deliveryMode": "deliveryMode value",
          "onedriveReferences": "onedriveReferences value",
          "key": "value key",
          "amsreferences": "[\u0022test url file 1\u0022,\u0022test url file2\u0022]"
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:o551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1@thread.v2/messages?syncState=3e3900000031393a6f353531545f5f5246624c6e437573556a675033316e716a634e2d646a476579576f5876674657714d6c6f31407468726561642e7632016f305868790100006031586879010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": [...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:o551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1@thread.v2/messages?syncState=3e3900000031393a6f353531545f5f5246624c6e437573556a675033316e716a634e2d646a476579576f5876674657714d6c6f31407468726561642e7632019a2b5868790100006031586879010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xlmHALLUdUSE6ww4tQTA\u002BQ.0",
        "X-Processing-Time": "168ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1620953278944",
            "type": "topicUpdated",
            "sequenceId": "3",
            "version": "1620953278944",
            "content": {
              "topic": "Updated topic - C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191",
                "communicationUser": {
                  "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191"
                }
              }
            },
            "createdOn": "2021-05-14T00:47:58Z"
          },
          {
            "id": "1620953277259",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1620953277259",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191",
                "communicationUser": {
                  "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191"
                }
              }
            },
            "createdOn": "2021-05-14T00:47:57Z"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:o551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1@thread.v2/messages?syncState=3e3900000031393a6f353531545f5f5246624c6e437573556a675033316e716a634e2d646a476579576f5876674657714d6c6f31407468726561642e7632014b235868790100006031586879010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1%40thread.v2/messages/1620953279386?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "zXPBi9EJJEWD7uzubvHGiA.0",
        "X-Processing-Time": "100ms"
      },
      "ResponseBody": {
        "id": "1620953279386",
        "type": "text",
        "sequenceId": "10",
        "version": "1620953286677",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-05-14T00:47:59Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-bdd6-eef0-8b3a0d003191"
          }
        },
        "editedOn": "2021-05-14T00:48:06Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1%40thread.v2/participants/:add?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-c2b7-eef0-8b3a0d003194"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "gkCf3PvOaE\u002BImDBregqISw.0",
        "X-Processing-Time": "293ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      [...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:o551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1%40thread.v2/participants/:remove?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "communicationUser": {
          "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0839-c2b7-eef0-8b3a0d003194"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "PUnA5I425EmCC98JiBPz9w.0",
        "X-Processing-Time": "324ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1%40thread.v2/typing?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "H24yFwvvQU2cise6kZOUPQ.0",
        "X-Processing-Time": "174ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "wv2A0T7MuUm\u002B2k7WWJXjBw.0",
        "X-Processing-Time": "107ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:o551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2021-05-14T00:48:11Z"
          },
          {
            "id": "19:tKAyLRWW-u9IDQgjJr9A9SDEUYJHQFtnSeI-c8zDqKg1@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2021-05-14T00:47:58Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Ao551T__RFbLnCusUjgP31nqjcN-djGeyWoXvgFWqMlo1%40thread.v2?api-version=2021-04-05-preview6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "kC510N4s4kqs5BAPLzxetw.0",
        "X-Processing-Time": "251ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1213822101"
  }
}