{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3lD232KmbUqNN8JVEp4E9A.0",
        "X-Processing-Time": "67ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities/8%3Aacs%3A357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5LHT268Xk06ii5iFV8ZmYQ.0",
        "X-Processing-Time": "129ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-05-15T00:45:59.2373374\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0838-1eb6-63b2-a43a0d002cb4"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0838-200c-63b2-a43a0d002cb5"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1@thread.v2",
        "MS-CV": "9/0MIKSU202P2oVWPftorg.0",
        "X-Processing-Time": "407ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:GkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2021-05-14T00:46:10Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3",
            "communicationUser": {
              "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1%40thread.v2/participants?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "FQRTUtDK0UuubYJURYNx\u002BA.0",
        "X-Processing-Time": "92ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0838-1eb6-63b2-a43a0d002cb4",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0838-1eb6-63b2-a43a0d002cb4"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0838-200c-63b2-a43a0d002cb5",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0838-200c-63b2-a43a0d002cb5"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1%40thread.v2?api-version=2021-04-05-preview6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "MGGSmx62E0mHEXHMX2kUNw.0",
        "X-Processing-Time": "137ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1%40thread.v2/messages?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1@thread.v2/messages/1620953173736",
        "MS-CV": "osIIBasJ\u002B0G2FIBmgu/C\u002BA.0",
        "X-Processing-Time": "198ms"
      },
      "ResponseBody": {
        "id": "1620953173736"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Az0krcnAM9Oa55g2ReSegpEttJrpqziqaseIzM80OArM1%40thread.v2/messages?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "html"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Az0krcnAM9Oa55g2ReSegpEttJrpqziqaseIzM80OArM1@thread.v2/messages/1620953173948",
        "MS-CV": "0QZPiHPeDkOA7\u002BTwNw/ZPw.0",
        "X-Processing-Time": "112ms"
      },
      "ResponseBody": {
        "id": "1620953173948"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1%40thread.v2/messages/1620953173736?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "MjQecraOHkCXdTITYtNWsQ.0",
        "X-Processing-Time": "92ms"
      },
      "ResponseBody": {
        "id": "1620953173736",
        "type": "text",
        "sequenceId": "4",
        "version": "1620953173736",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-05-14T00:46:13Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3"
          }
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3Az0krcnAM9Oa55g2ReSegpEttJrpqziqaseIzM80OArM1%40thread.v2/messages/1620953173948?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OKSZ6Vum20CMNQwCZE3ajw.0",
        "X-Processing-Time": "177ms"
      },
      "ResponseBody": {
        "id": "1620953173948",
        "type": "html",
        "sequenceId": "3",
        "version": "1620953173948",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-05-14T00:46:13Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1%40thread.v2/messages/1620953174759?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "oHHBQuis0ke1qsvXGByRpw.0",
        "X-Processing-Time": "125ms"
      },
      "ResponseBody": {
        "id": "1620953174759",
        "type": "html",
        "sequenceId": "9",
        "version": "1620953174759",
        "content": {
          "message": "Content for message 7"
        },
        "senderDisplayName": "DisplayName sender message options message 7",
        "createdOn": "2021-05-14T00:46:14Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0838-200c-63b2-a43a0d002cb5",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0838-200c-63b2-a43a0d002cb5"
          }
        },
        "metadata": {
          "tags": "tag value",
          "deliveryMode": "deliveryMode value",
          "onedriveReferences": "onedriveReferences value",
          "key": "value key",
          "amsreferences": "[\u0022test url file 1\u0022,\u0022test url file2\u0022]"
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:GkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1@thread.v2/messages?syncState=3e3900000031393a476b79596d624c39525a7747365a386a745f667a6e7a556d4548387555664f492d314d4c634f673755775131407468726561642e7632013c92566879010000e792566879010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": [...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:GkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1@thread.v2/messages?syncState=3e3900000031393a476b79596d624c39525a7747365a386a745f667a6e7a556d4548387555664f492d314d4c634f673755775131407468726561642e763201e88e566879010000e792566879010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "80CIa8lqjEGvm7nHIBpBcA.0",
        "X-Processing-Time": "128ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1620953173423",
            "type": "topicUpdated",
            "sequenceId": "3",
            "version": "1620953173423",
            "content": {
              "topic": "Updated topic - C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3",
                "communicationUser": {
                  "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3"
                }
              }
            },
            "createdOn": "2021-05-14T00:46:13Z"
          },
          {
            "id": "1620953170682",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1620953170682",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3",
                "communicationUser": {
                  "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3"
                }
              }
            },
            "createdOn": "2021-05-14T00:46:10Z"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:GkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1@thread.v2/messages?syncState=3e3900000031393a476b79596d624c39525a7747365a386a745f667a6e7a556d4548387555664f492d314d4c634f673755775131407468726561642e763201fa82566879010000e792566879010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1%40thread.v2/messages/1620953173736?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Y4texMWX4UCLroyesY4aog.0",
        "X-Processing-Time": "98ms"
      },
      "ResponseBody": {
        "id": "1620953173736",
        "type": "text",
        "sequenceId": "10",
        "version": "1620953228593",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-05-14T00:46:13Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0837-fce0-63b2-a43a0d002cb3"
          }
        },
        "editedOn": "2021-05-14T00:47:08Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1%40thread.v2/participants/:add?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0838-216b-63b2-a43a0d002cb6"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hXInRUYYeUKv80ZbXfQpIQ.0",
        "X-Processing-Time": "341ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      [...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:GkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1%40thread.v2/participants/:remove?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "communicationUser": {
          "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_0000000a-0838-216b-63b2-a43a0d002cb6"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "9icbvzqOSEi3Q4wylgKZ7w.0",
        "X-Processing-Time": "334ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1%40thread.v2/typing?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "Lkv/5RBvw0\u002BMCKn3JXpGjQ.0",
        "X-Processing-Time": "112ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002BGvzNWbL/kyVrE5S7uuYmw.0",
        "X-Processing-Time": "293ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:GkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2021-05-14T00:47:45Z"
          },
          {
            "id": "19:z0krcnAM9Oa55g2ReSegpEttJrpqziqaseIzM80OArM1@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2021-05-14T00:46:12Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AGkyYmbL9RZwG6Z8jt_fznzUmEH8uUfOI-1MLcOg7UwQ1%40thread.v2?api-version=2021-04-05-preview6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "eHSX7a/biUe6E3GUj1MaTQ.0",
        "X-Processing-Time": "238ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1932191803"
  }
}